<main>
    <section class="w-full  h-auto mb-10">
        <figure class="w-full h-[20rem] md:h-[20rem] lg:h-[35rem] overflow-hidden">
            <img class="w-full h-[20rem] md:h-[20rem] lg:h-[50rem] object-cover object-bottom rounded-xs" src="../../public/img/banner.png" alt="Banner">
        </figure>
    </section>
    <section class="w-full h-[45rem] md:h-[33rem] bg-amber-50" id="start">
        <article class="py-5 w-full h-auto">
            <div class="  w-full md:w-[90%] h-[7rem] mx-auto flex bg-amber-500 items-center justify-center md:justify-around   md:rounded-full ">
                <img class="  w-[4.5rem]  md:w-[10rem]  md:ml-[3rem]" src="img/logo.png" alt="Logo">
                <h2 class="  text-amber-700  text-2xl md:text-4xl font-semibold">Que es NutriPiece?</h2>
            </div>
            <div class=" w-[90%] md:w-[80%]  h-[30rem] md:h-[17rem] p-[1rem]  mx-auto mt-[3rem] bg-amber-100 flex items-center">
                
                <p class=" w-[70rem]  md:w-[50rem] break-words text-xl text-justify mx-auto">Bienvenido a NutriPiece,
                     un espacio donde el sabor y el bienestar se encuentran. Elaboramos postres funcionales
                      con ingredientes reales como almendras, banano y frutos rojos, integrando prebióticos
                       que nutren desde adentro. Nuestros productos no solo deleitan el paladar, también
                        promueven una alimentación consciente y equilibrada. En cada porción, encontrarás 
                        el equilibrio perfecto entre lo delicioso y lo saludable. Descubre una nueva forma 
                        de disfrutar.</p>
                
            </div>
        </article>
    </section>
    <!-- Products's store (brownies) -->
    <section id="products" class="w-full h-auto py-2 px-4 my-10 flex gap-7  flex-col ">
        <h2 class="text-amber-700 text-4xl font-semibold my-4 mx-auto md:mx-0">Productos</h2>
        <div class="flex gap-7 flex-wrap">
        <article class="w-[17rem] h-min-[10rem] mx-auto md:mx-0 rounded-sm bg-amber-50  flex flex-col transition-all ease-in-out hover:scale-110 ">
            <img class="w-[100%] rounded-sm" src="img/products.jpg" alt="products">
            <div class="flex flex-col gap-5 p-5">
                <p class=" text-xl text-amber-700 font-semibold">Golden Piece</p>
                <p>almendras - banano - Mermelada de frutos rojos - prebioticos <span
                        class="text-amber-500 font-bold text-[0.7rem]">original</span></p>
                        <p class="font-bold text-xl text-amber-700">$5000 COP</p>
                        <!-- Data-information to send to the localStorage -->
                <button
                    class="add-to-cart w-35 flex  gap-3 px-2 py-1 rounded-xs cursor-pointer hover:bg-amber-600 text-white bg-amber-500"
                    data-name="Golden Piece"
                    data-description="almendras - banano - Mermelada de frutos rojos - prebioticos" 
                    data-price="5000"
                    data-image="img/products.jpg">add to cart
                    <img class="w-5" src="/svg/add.svg" alt="addIcon">
                </button>
            </div>
        </article>
                <article class=" w-[17rem] h-min-[10rem] mx-auto md:mx-0 rounded-sm bg-amber-50  flex flex-col hover:scale-110 ease-in-out ">
            <img class="w-[100%] rounded-sm" src="../../public/img/products.jpg" alt="products">
            <div class="flex flex-col gap-7 p-5">
                <p class=" text-xl text-amber-700 font-semibold">Sweet Piece</p>
                <p>El mejor regular compralo comralo compralo <span
                        class="text-amber-500 font-bold text-[0.7rem]">Basic</span></p>
                        <p class="font-bold text-xl text-amber-700">$4000 COP</p>
                <button
                    class="add-to-cart w-35 flex  gap-3 px-2 py-1 rounded-xs cursor-pointer hover:bg-amber-600 text-white bg-amber-500"
                    data-name="Brownie 2"
                    data-description="El mejor regular compralo comralo compralo" 
                    data-price="$5000"
                    data-image="img/products.jpg">add to cart
                    <img class="w-5" src="/svg/add.svg" alt="addIcon">
                </button>
            </div>
        </article>
 </div>
    </section>
</main>