<section id="cart" class="h-[30rem]  my-20 p-4">
  <h2 class="text-2xl font-semibold mb-4 text-amber-700">Carrito de compras</h2>
  <ul id="cart-items" class="space-y-4"></ul>
</section>
<section id="contact" class="w-full flex h-[30rem] bg-amber-50 my-10">
  
    <div class="w-[25rem] h-[30rem] bg-amber-500 flex items-center justify-center">
      <img class="w-[15rem]" src="../../public/img/logo.png" alt="Logo">
    </div>
  <article class=" w-full">

      <form action="" class="w-[40rem] h-auto flex flex-col p-4 mx-auto">
        <h2 class="text-2xl font-semibold mb-4 text-amber-700 self-center">Contact us</h2>
        <div class="mb-4">
          <label for="name" class="">Name</label>
          <input type="text" id="name" name="name" class="w-full rounded-sm border-1 border-amber-500  py-2 px-1" />
        </div>
        <div class="mb-4">
          <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
          <input type="email" id="email" name="email" class="w-full rounded-sm border-1 border-amber-500  py-2 px-1" />
        </div>
        <div class="mb-4">
          <label for="message" class="block text-sm font-medium text-gray-700">Message</label>
          <textarea id="message" name="message" rows="4" class="w-full rounded-sm border-1 border-amber-500  py-2 px-1"></textarea>
          <button type="submit" class="w-full bg-amber-500 py-1 rounded-md text-white cursor-pointer hover:bg-amber-300 my-[2rem]">Send</button>

  </article>

</section>
